form {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 2em 2.5rem;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.action-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.checkbox-option {
  padding: .5rem;
}


.InputComponent {
  label {
    justify-content: space-between;
    font-size: 1rem;
  }

  input {
    width: 100%;
    margin: .5rem 0;
    font-size: 1.2rem;
    line-height: 1.7rem;
    border-radius: 2%;
    border: 1px solid gainsboro;
  }

  input:focus {
    outline:3px solid $primaryLight-color;
    border:1px solid $primary-color;
  }

}


// ToggleCheckbox Style

.ToggleCheckbox {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primaryLight-color;
  -webkit-transition: .4s;
  transition: .4s;
}

.__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.__slider {
  background-color: $primary-color;
}

input:focus+.__slider {
  box-shadow: 0 0 1px $primary-color;
}

input:checked+.__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.__slider.__round {
  border-radius: 34px;
}

.__slider.__round:before {
  border-radius: 50%;
}


.SelectComponent{
  display:flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin:1rem 0;

  label{
    font-size:1em;

  }
  select {
    font-size:1.2rem;
    margin:.05rem 0;
    option:hover{
      background-color: $primaryLight-color;
    }
  }
  select:focus{
      outline:3px solid $primaryLight-color;
      border:1px solid $primary-color;
    }
}