.wr-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  padding: 1em 2em 2.5rem;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

  width: 45%;
  margin: 0 auto;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  padding: 1em 2em 2.5rem;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.action-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;

  &__btn--primary {
    @extend .btn;
    background-color: $primary-color;
    color: whitesmoke;
    border: solid .1rem $primaryLight-color;

    &:hover {
      background-color: $primaryHover-color;
    }
  }

  &__btn--secondary {
    @extend .btn;
    background-color: $primaryLight-color;

    &:hover {
      border: 2px solid $primary-color;
    }
  }

  &__btn--neon {
    background-color: $black;
    width: 8rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 4%;
    font-size: 1rem;
    border: none;
    font-family: sans-serif;
    font-weight: 100;
    border: 1px ridge $primaryLight-color;
    letter-spacing: .1rem;
    animation: flicker 1.5s infinite alternate;
    color: #fff;
  }
}

  @keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }
    20%, 24%, 55% {        
      text-shadow: none;
  }    
  }


  .btn {
    width: 6rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 4%;
    font-size: 1rem;
    border: none;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: .1rem;
    cursor: pointer;
  }

  .checkbox-option {
    padding: .5rem;
  }

  .create-account {
    display: inline;
    float: right;
    font-size: .8rem;
  }

  .browser-back {
    font-size: .8rem;
  }

  .InputComponent {

    label {
      justify-content: space-between;
      font-size: 1rem;

      .fa.solid.fa-eye-slash,
      .fa.solid.fa-eye {
        display: flex;
        justify-content: flex-end;
      }

      input {
        width: 100%;
        margin: .5rem 0;
        font-size: 1.2rem;
        padding: .3rem .1rem;
        border-radius: 2%;
        border: 1px solid gainsboro;

        &.--invalid {
          outline: solid 1px red;
        }
      }

      input:focus {
        outline: 3px solid $primaryLight-color;
        border: 1px solid $primary-color;
      }
    }
  }


  // ToggleCheckbox Style
  .ToggleCheckbox {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .__switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 29px;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked+.__slider {
        background-color: $primary-color;
      }

      &:focus+.__slider {
        box-shadow: 0 0 1px $primary-color;
      }

      &:checked+.__slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
  }

  /* The slider */
  .__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primaryLight-color;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 23px;
      width: 23px;
      left: 5px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;

    }
  }

  .--round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }



  .SelectComponent {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin: 1rem 0;

    label {
      font-size: 1em;

    }

    select {
      font-size: 1.2rem;
      padding: .4em .1em;

      option:hover {
        background-color: $primaryLight-color;
      }
    }

    select:focus {
      outline: 3px solid $primaryLight-color;
      border: 1px solid $primary-color;
    }
  }


  .error-message,
  .requiredMark {
    color: rgb(231, 3, 3);
  }


  .modal-navbar {
    display: flex;
    justify-content: flex-end;
  }

  .moreOrLess {
    display: flex;
    justify-content: flex-end;
    color: rgb(52, 112, 243);
  }

  .wr-title {
    display: flex;
    justify-content: center;
  }