@media screen and (max-width: 760px) {
    main.MainContainer {
        display: flex;
        flex-flow: column nowrap;
    }

    #root .Modal {
        width: 100%;
        left: 0;
    }

    .wr-form {
        width: auto;
    }
}


