@media screen and (max-width: 760px) {
    main.MainContainer {
        display: flex;
        flex-flow: column nowrap;
    }

    #root .Modal {
        width: 100%;
        left: 0;

        .modal-form {
            padding: .5em;
        }
    }

    .wr-form {
        width: auto;
    }
}


@media only screen and (max-width: 760px) and (orientation: landscape) {
    .Modal.--open {
        left: 0;
        top: 0;
        height: 100vh;
        overflow: auto;
    }
}