.Table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font: 1rem/1.2rem'Helvetica Neue', helvetica, arial, sans-serif;
    margin: 30px auto;
    text-align: left;
    width: clamp(60%, 80%, 100%);

    .TableHead {
        th {
            background: linear-gradient(#777, #444);
            border-left: 1px solid #555;
            border-right: 1px solid #777;
            border-top: 1px solid #555;
            border-bottom: 1px solid #333;
            box-shadow: inset 0 1px 0 #999;
            color: #fff;
            font-weight: bold;
            padding: .6rem .9rem;
            position: relative;
            text-shadow: 0 1px 0 #000;
            z-index:10;
            &:after {
                background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.08));
                content: '';
                display: block;
                height: 25%;
                left: 0;
                margin: 1px 0 0 0;
                position: absolute;
                top: 25%;
                width: 100%;
            }

            &:first-child {
                border-left: 1px solid #777;
                box-shadow: inset 1px 1px 0 #999;
            }

            &:last-child {
                box-shadow: inset -1px 1px 0 #999;
            }
        }
    }

    .TableBody {
        &:hover {
            td {
                color: transparent;
                text-shadow: 0 0 3px #aaa;
            }

            tr:hover td {
                color: #444;
                text-shadow: 0 1px 0 #fff;
            }
        }

        td {
            border-right: 1px solid #fff;
            border-left: 1px solid #e8e8e8;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #e8e8e8;
            padding: .6rem .9rem;
            position: relative;
            transition: all 300ms;
            z-index: 1;
            &:first-child {
                box-shadow: inset 1px 0 0 #fff;
            }

            &:last-child {
                border-right: 1px solid #e8e8e8;
                box-shadow: inset -1px 0 0 #fff;
            }
        }

        tr {
            &:last-of-type td {
                box-shadow: inset 0 -1px 0 #fff;

                &:first-child {
                    box-shadow: inset 1px -1px 0 #fff;
                }

                &:last-child {
                    box-shadow: inset -1px -1px 0 #fff;
                }
            }
        }
    }
}


.table-container {
    width: 80vw;
    height: 560px;
    overflow: auto;

    .Table .TableHead th {
        position: sticky;
        top: 0;
    }
}