.alert {
    position: relative;
    top: -45px;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: display 2s ease-in-out 1s;

}

.__success {
    @extend .alert;
    color: #155724;
    background-color: #d4edda;
    border: 1px ridge #c3e6cb;
}

.__fail {
    @extend .alert;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px ridge #f5c6cb;
}

.__info {
    @extend .alert;
    color: #004085;
    background-color: #cce5ff;
    border-color: 1px ridge #b8daff;
}

.--hide {
    display: none;
    transition: display 2s ease-in-out 1s;
}


.Modal {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 7px 9px 4px $black;
    left: clamp(22%, 28%, 40%);
    top: 8em;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    width: clamp(320px, 510px, 650px);

    &.--closed {
        transform: translateY(-1000vh);
        opacity: 0;
    }

    &.--open {
        transform: translateY(0);
        opacity: 1;
        z-index: 100;

    }
}

.--open-modal{
    overflow: hidden;
}