@import './styles/variables.scss';
@import './styles/forms.scss';
@import './styles/media_queries.scss';
@import './styles/splash.scss';
@import './styles/table.scss';
@import './styles/loading_spinners.scss';

body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Verdana;
    display: grid;
    place-items: center;
  }

  ul {
    list-style: inside circle;
    line-height: 1.5rem;
  }

  #root {
    flex: 100%;
  }

  .Layout {
    background-color: #ffffff;
  }
}

.Navbar {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  gap: 1rem;

  .Logo {
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      padding: .5rem 1rem;
    }
  }

  .logout-container {
    display: flex;
    align-items: flex-end;
    padding: 0 1rem;
  }
}

.NavbarMenu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
  margin-bottom: 0;
  padding: .3rem;

  a {
    color: white;
    text-decoration: none;
  }
}


.MainContainer {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;

  .Sidebar {
    display: flex;
    flex-flow: column nowrap;
    background-color: $secondary-color;
    padding: 1em 1em 2em 3em;
    flex: 2 0 320px;

    &--closed {
      background-color: $secondary-color;
      flex: 0 0 2em;
      padding: 1em .1em 0 1em;
    }

    .fa-solid.fa-bug {
      display: flex;
      justify-content: flex-end;
    }

    .Title {
      display: flex;
      justify-content: center;
      margin-top: 0;
      padding-top: 1rem;
    }

    .Options {
      list-style: none;
      width: 100%;
      padding: 1rem;

      li {
        padding: .4rem;
      }
    }
  }

  .MainContent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 2 1 100%;
    padding: 2rem;
  }
}

.Footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $primaryLight-color;
  height: 5rem;
}


.TodoApp {
  .add-todo-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1em;

    .description-container {
      display: flex;
      flex-flow: column nowrap;

      .fa-solid.fa-square-pen {
        color: rgb(241, 136, 136)
      }

      &__button {
        color: $primary-color;
        font-family: Tahoma;
      }

      &__input {
        width: 80%;
        font-size: 1.2em;
      }

      &__input:focus {
        outline: 3px solid $primaryLight-color;
        border: 1px solid $primary-color;
      }
    }

    .duedate-container {
      display: flex;
      flex-flow: column nowrap;

      &__input {
        width: 80%;
        font-size: 1.4em;
      }

      &__button {
        background-color: #04AA6D;
        color: white;
        width: 50%;
        margin: 0 auto;
        border-radius: 10px;
        height: 3em;
        font-size: 1em;
        font-family: Tahoma;
      }
    }
  }

  .TodoList {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    padding: 0;

    .Todo {
      display: flex;
      align-items: center;
      padding: .2rem 1rem;

      &--checked {
        text-decoration: line-through;

        .fa-solid.fa-trash-can {
          color: rgb(109, 13, 13);
          border: ridge 2px $primary-color;
          border-radius: 10%;
          background-color: $primaryLight-color;
          padding: 0.2rem .4em;
        }

        input {
          font-size: 1.2em;
        }

        .fa-regular.fa-floppy-disk {
          color: $primaryHover-color;
          border: ridge 2px $primary-color;
          border-radius: 10%;
          background-color: $primaryLight-color;
          padding: 0.2rem .4em;

          &::before {
            background-color: whitesmoke;
            padding: 0.1px;
            border-radius: 20px
          }
        }
      }
    }
  }
}

/**
  Buttons
*/

.signUp-btn {
  position: relative;
  width: 93px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  border-radius: 25px;
  margin-right: -39px;
  font-size: 16px;
  line-height: 1.5;
  z-index: 5;
  background-color: $primary-color;
  color: #ffffff;
  border: none;

  &:hover {
    background-color: $primaryHover-color;
  }
}

.login-btn {
  position: relative;
  width: 112px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  background-color: $primaryLight-color;
  border-radius: 25px;
  padding-left: 39px;
  font-size: 16px;
  line-height: 1.5;
  z-index: 4;
  border: none;

  &:hover {
    border: 2px solid $primary-color;
  }
}


.form-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;

  .input {
    font-size: 1.2em;
  }
}

:disabled {
  opacity: 30%;
  pointer-events: none;
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-lr;
  width: 100%;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 100%;
  margin: 0;
}


.InputHeight {
  margin-bottom: 1em;
  transition: all 1s ease-in-out;

  input {
    width: 4.6rem;
    font-size: 1.2rem;
    margin-top: .5rem;

    &:focus {
      outline: 3px solid $primaryLight-color;
      border: 1px solid $primary-color;
    }
  }

  label {
    font-size: 1rem;
  }
}

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.BlurBackdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5);
}

.Modal {
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 7px 9px 4px $black;
  left: clamp(22%, 28%, 40%);
  top: 8em;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  width: clamp(320px, 510px, 650px);

  &.--closed {
    transform: translateY(-120vh);
    opacity: 0;
  }

  &.--open {
    transform: translateY(0);
    opacity: 1;
    z-index: 100;

  }
}

.section-peak {
  padding: 1em 1em 3em;
  position: relative;
}

.section-peak:nth-child(odd) {
  background-color: $secondary-color;
}

.section-peak:not(:last-child):after,
.section-peak:not(:last-child)::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  background: #fff;
  bottom: -.4em;
  z-index: 100;
}

.section-peak:nth-child(odd)::after,
.section-peak:nth-child(odd)::before {
  background-color: $secondary-color;
}

.section-peak::after {
  left: 50%;
  transform: skew(0, -20deg)
}

.section-peak::before {
  right: 50%;
  transform: skew(0, 20deg)
}

.fa-solid.fa-pencil {
  border: ridge 2px $primary-color;
  border-radius: 10%;
  color: rgb(226, 148, 3);
  background-color: $primaryLight-color;
  padding: 0.2rem .4rem;
}

i {
  padding: .5rem;
  font-size: 1.1rem;
}


.ReleaseModal {
  padding: 1rem;
}

.nav-routes{
  cursor: pointer;
}