@import './styles/variables.scss';
@import './styles/forms.scss';
@import './styles/media_queries.scss';

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body,
html {
  margin: 0;

  #root {
    flex: 100%;
  }
}

.Navbar {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  gap: 1rem;

  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding: .5rem 1rem;
  }
}

.NavbarMenu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
  margin-bottom: 0;
  padding: .3rem;

  a {
    color: white;
    text-decoration: none;
  }
}


.MainContainer {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;

  .Sidebar {
    display: flex;
    flex-flow: column nowrap;
    background-color: $secondary-color;
    padding: 1em;
    flex: 2 1 350px;

    &.closed {
      flex: 0 1 1em;
    }

    .fa-solid.fa-bug {
      display: flex;
      justify-content: flex-end;
    }

    .Title {
      display: flex;
      justify-content: center;
      margin-top: 0;
      padding-top: 1rem;
    }

    .Options {
      list-style: none;
      width: 100%;
      padding: 1rem;

      li {
        padding: .4rem;
      }
    }
  }

  .MainContent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 2 1 100%;
    padding: 2rem;
  }
}

.Footer {
  background-color: $primaryLight-color;
  height: 5rem;
  margin-top: auto;
}


.TodoApp {
  .AddTodo {
    display: flex;
    justify-content: center;

    .fa-solid.fa-pen.fa-lg {
      display: flex;
      align-items: center;
    }

    input {
      flex: 70%;
    }

    input:focus {
      outline: 3px solid $primaryLight-color;
      border: 1px solid $primary-color;
    }

    .datetimeInput {
      display: flex;
      flex-flow: column;
      width: 80%;
    }
  }

  .TodoList {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    padding: 0;

    .Todo.checked {
      text-decoration: line-through;
    }

    .Todo {
      padding: .2rem 1rem;

      .fa-solid.fa-trash-can {
        color: rgb(109, 13, 13);

      }
    }
  }
}

/**
  Buttons
*/

.btn {
  width: 5rem;
  height: 1.9rem;
  margin: 1rem;
  border-radius: 7%;
  font-size: 1.2rem;
  border: none;

  &-primary {
    @extend .btn;
    background-color: $primary-color;
    color: whitesmoke;
    border: solid .1rem $primaryLight-color;

    &:hover {
      background-color: $primaryHover-color;
    }
  }

  &-secondary {
    @extend .btn;
    background-color: $primaryLight-color;

    &:hover {
      border: 2px solid $primary-color;
    }
  }
}

.signUp {
  position: relative;
  width: 93px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  border-radius: 25px;
  margin-right: -39px;
  font-size: 16px;
  line-height: 1.5;
  z-index: 5;
  background-color: $primary-color;
  color: #ffffff;
  border: none;

  &:hover {
    background-color: $primaryHover-color;
  }
}

.login {
  position: relative;
  width: 112px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  background-color: $primaryLight-color;
  border-radius: 25px;
  padding-left: 39px;
  font-size: 16px;
  line-height: 1.5;
  z-index: 4;
  border: none;

  &:hover {
    border: 2px solid $primary-color;
  }
}

.login-title {
  margin-top: 0;
}


.form-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;
}


:disabled {
  opacity: 30%;
  pointer-events: none;
}

.btn-todo {
  font-weight: 900;
  color: #ffffff;
  background-color: $primary-color;
  border: 1px solid $primaryLight-color;
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-lr;
  width: 100%;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 100%;
  margin: 0;
}


.InputHeight input {
  width: 4rem;
}